div {
    align-content: center;

}

button {
    display:inline-block;
    /*padding: 20px;*/
    margin: 10px;
    width: 500px;
    max-height: 30px;
}

body {
    text-align: center;
    overflow: scroll;
    font-family: 'Lato', Times, 'Times New Roman', serif;
}

input {
    text-align: center;
}

ul {
  align-content: center;
  width: 800px;
  height: 200px;
  margin: 50px auto;
  padding: 0;
  list-style: none;
  overflow-x: hidden;
  overflow-y: scroll;
}


ul li:nth-child(odd) {
  background: #fff;
}
@media only screen and (max-device-width: 480px) {
  .container-fluid {
    margin-bottom: 6%;
    margin-top: 4%;
  }
}

